<h1 class="text-center text-success">Welcome To Campus Recruitment System</h1>
<!--<a [routerLink]="['profile']">Profile</a>
<a [routerLink]="['viewStd']">View Students</a>
<a [routerLink]="['postJob']">Post Job</a>
<router-outlet></router-outlet>-->
<button class="btn btn-primary"><a (click) = "pf = true; sp = false; post = false" >Profile</a></button>
<button class="btn btn-primary"><a (click) = "sp = true; pf = false; post = false">Students Profile</a></button>
<button class="btn btn-primary"><a (click) = "pf = false; sp = false; post = true;btn=true;tb=false">Post Job</a></button>

<!--Profile Template-->

<ng-template #profile>
  <div class="form-group main" #profile>
      <form [formGroup] = "form" (ngSubmit) = "save(form.value)">    
          <h2 style="text-align: center;" class="text-primary">Company Profile</h2>
              <input type="text" class="form-control input"   placeholder="Company Name" formControlName="name" required>            
              <input type="text" class="form-control input" placeholder="address" formControlName="address" required>                
              <input type="number" class="form-control input" placeholder="Phone No." formControlName="phone" required>                
              <button class="btn btn-success btn-block input" [disabled]="!form.valid" >Save</button>           
      </form>  
    </div>
  </ng-template>

  <!--Post Job Template-->
  <ng-template #postJob>
  <div class="form-group main">
      <form [formGroup] = "job" (ngSubmit) = "createPost(job.value)">    
          <h2 style="text-align: center;" class="text-primary">Post Job</h2>
              <input type="text" class="form-control input"   placeholder="Job Name" formControlName="jobName" required>
              <textarea name="" id="" cols="30" rows="10" placeholder="Description" formControlName="description" required></textarea>            
              <button class="btn btn-success btn-block input" [disabled]="!job.valid" >Save</button>           
      </form>    
    </div>    
    <div class="container">
      <button class="btn btn-success" (click) = "viewPost(); tb=true; btn=false" *ngIf="btn">View Post</button>
      <table class="table table-striped table-hover" *ngIf="tb" >
        <tr>
          <th>#</th>
          <th>Job Name</th>
          <th>Description</th>
          <!--<th></th>-->
        </tr>
        <tr *ngFor="let post of jobPost; let i = index  ">
          <td>{{i+1}}</td>
          <td>{{post.jobName}}</td>
          <td>{{post.description}}</td>
          <!--<td>{{std.grade}}</td>-->
        </tr>
      </table>
    </div>
  </ng-template>
  <p *ngIf="post then postJob"></p>
  <p *ngIf="sp then stdProfile"></p>
  <p *ngIf="pf then profile"></p>
  <!--<p *ngIf="vp then viewPost"></p>-->
  <!--<p *ngIf="isTrue then profile;else stdProfile"></p>-->

  <!--Student Profile Template-->
  <ng-template  #stdProfile>
    <div class="container">
      <table class="table table-striped table-hover" >
        <tr>
          <th>Name</th>
          <th>Qualification</th>
          <th>Grade</th>
        </tr>
        <tr *ngFor="let std of stds | async ">
          <td>{{std.name}}</td>
          <td>{{std.edu}}</td>
          <td>{{std.grade}}</td>
        </tr>
      </table>
    </div>
  </ng-template>


  
  
   