<!--Navbar-->

<nav class="navbar navbar-toggleable-md navbar-light bg-faded  bg-inverse">
  <button class="navbar-toggler navbar-toggler-right bg-faded" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" >
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand text-white" href="#"><b>Campus System</b></a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">          
      <ul class="navbar-nav mr-auto">
        <div *ngIf="">
          <li class="nav-item">
            <a class="nav-link text-white" href="#" routerLink="/admin" routerLinkActive="active">Admin</a>
          </li>
        </div>
        <div *ngIf="stateCompany">
          <li class="nav-item">
            <a class="nav-link text-white" href="#" routerLink="/company/profile" (click) = "nav('true')" routerLinkActive="active">Profile</a>
          </li>
        </div>
        <div *ngIf="stateCompany">
          <li class="nav-item">
            <a class="nav-link text-white" href="#" routerLink="/company" (click) = "nav('false')" routerLinkActive="active">View Students</a>
          </li>
        </div>
        <div *ngIf="stateCompany">
          <li class="nav-item">
            <a class="nav-link text-white" href="#" routerLink="/company" routerLinkActive="active">Post Job</a>
          </li>
        </div>
       <div *ngIf="stateStd">
          <li class="nav-item">
            <a class="nav-link text-white" href="#" routerLink="/student" routerLinkActive="active">Student</a>
          </li>
        </div>        
      </ul>
      
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white" href="#" routerLink="/signUp" routerLinkActive="active">SignUp</a>
        </li>
      <div *ngIf="isTrue">
      <li class="nav-item">
        <a class="nav-link text-white" href="#" routerLink="/logIn"  routerLinkActive="active">LogIn</a>
      </li>
      </div>
      <div *ngIf="!isTrue">      
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle text-white" href="#" routerLink="/logIn" (click) ="logOut()" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            LogOut
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
          </div>
        </li>
      </div>      
    </ul>
  </div>
</nav>

    <!--End-->

    <ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>

<hr>

<pre>{{closeResult}}</pre>
<!--<button (click) = 'status()'>satuts</button>-->
<router-outlet></router-outlet>
<!--<app-admin></app-admin>
<app-company></app-company>
<app-students></app-students>-->
