<!--Navbar-->

<nav class="navbar navbar-toggleable-md navbar-light bg-faded  bg-inverse">
  <button class="navbar-toggler navbar-toggler-right bg-faded" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" >
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand text-white" ><b>Campus System</b></a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">          
      <ul class="navbar-nav mr-auto">
        <div *ngIf="">
          <li class="nav-item">
            <a class="nav-link text-white" href="#" routerLink="/admin" routerLinkActive="active">Admin</a>
          </li>
        </div>
        <div *ngIf="stateCompany">
          <li class="nav-item">
            <a class="nav-link text-white" href="#" routerLink="/company/profile" (click) = "nav('true')" routerLinkActive="active">Profile</a>
          </li>
        </div>
        <div *ngIf="stateCompany">
          <li class="nav-item">
            <a class="nav-link text-white" href="#" routerLink="/company" (click) = "nav('false')" routerLinkActive="active">View Students</a>
          </li>
        </div>
        <div *ngIf="stateCompany">
          <li class="nav-item">
            <a class="nav-link text-white" href="#" routerLink="/company" routerLinkActive="active">Post Job</a>
          </li>
        </div>
       <div *ngIf="stateStd">
          <li class="nav-item">
            <a class="nav-link text-white" href="#" routerLink="/student" routerLinkActive="active">Student</a>
          </li>
        </div>        
      </ul>
      
      <ul class="navbar-nav">
        <div *ngIf="isTrue">
          <li class="nav-item">
            <a class="nav-link text-white" href="#" routerLink="/signUp" routerLinkActive="active">SignUp</a>
          </li>
        </div>
        <div *ngIf="isTrue">
          <li class="nav-item">
            <a class="nav-link text-white" href="#" routerLink="/logIn"  routerLinkActive="active">LogIn</a>
          </li>
        </div>
        <div *ngIf="!isTrue">      
          <li class="nav-item dropdown ">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{userName}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item" routerLink = "/logIn" (click) = "logOut()">LogOut</button>
              </div>
            </div>
          </li>
        </div>      
    </ul>
  </div>
</nav>

    <!--End-->
    

<!--<button (click) = 'status()'>satuts</button>-->
<router-outlet></router-outlet>
<!--<app-admin></app-admin>
<app-company></app-company>
<app-students></app-students>-->
