<h1 class="text-center text-success">Welcome To Campus Recruitment System</h1>

<button class="btn btn-primary"><a (click) = "isTrue = true" >Profile</a></button>
<button class="btn btn-primary"><a (click) = "isTrue = false">View Jobs</a></button>

<ng-template #profile>
    <div class="form-group main" >
        <form [formGroup] = "form" (ngSubmit) = "save(form.value)">    
            <h2 style="text-align: center;" class="text-primary">Profile</h2>
                <input type="text" class="form-control input"   placeholder="Enter Name" formControlName="name" required>            
                <input type="text" class="form-control input" placeholder="Enter Qualification" formControlName="edu" required>                
                <input type="text" class="form-control input" placeholder="CGPA" formControlName="grade" required>                
                <input type="text" class="form-control input" placeholder="Institute" formControlName="institute" required>                
                <input type="number" class="form-control input" placeholder="Phone No." formControlName="phone" required>                
                <input type="radio" class="" value="male" name="gender" formControlName="gender" required>Male
                <input type="radio" class="" value="female" name="gender" formControlName="gender" required>Female
                <button class="btn btn-success btn-block input" [disabled]="!form.valid" (click) = "isTrue = true" >Save</button>           
        </form>  
    </div>
</ng-template>
<ng-template #viewJobs >
    <div class="container" *ngIf = "!isTrue">
        <h1>View Jobs</h1>
      <table class="table table-striped table-hover" >
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
        <tr *ngFor="let job of allJobPostVal">
          <td>{{job.jobName}}</td>
          <td>{{job.description}}</td>
        </tr>
      </table>
    </div>
</ng-template>
  
    <p *ngIf="isTrue then profile;else viewJobs"></p>
    